window#waybar {
  background-color: @base01;
}

#clock,
#battery,
#network,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#tray {
  padding-right: 10px;
}

#window,
#workspaces button {
  padding: 0px;
}

#workspaces button,
.modules-left #workspaces button,
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
  border-bottom: 0px none transparent;
  padding: 0px;
}

#temperature.critical {
  background-color: @base08;
  color: @base00;
}
